.App body {
  color: #59657a;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: #207cca;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 10px;
}

.card-weather-app {
  padding: 5px;
  border-color: #42a5f5;
  max-width: 800px;
  margin: 20px auto;
}

#weather-description:first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  text-align: center;
}

.img-forecast {
  width: 55px;
  margin: 5px;
}

.open-source-link {
  text-align: center;
  margin: 0 auto;
  display: block;
}
