.App body {
  color: #59657a;
  font-family: "Nunito", sans-serif;
}

.App .card-weather-app {
  padding: 5px;
  border-color: #42a5f5;
  max-width: 800px;
  margin: 20px auto;
}

.App .open-source-link {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.App a {
  text-decoration: none;
  color: #207cca;
}
