.search-box-city {
  border-color: #42a5f5;
  display: inline-block;
}

.primary-button {
  background-color: #eaf7fd;
  border-radius: 5px;
  border-color: #42a5f5;
  color: #59657a;
  display: inline-block;
  padding: 6px;
  width: 140px;
  font-size: 15px;
}

.secondary-button {
  background-color: #207cca;
  border-radius: 5px;
  border-color: #2a6da3;
  color: #fff;
  display: inline-block;
  padding: 6px;
  width: 140px;
  font-size: 15px;
}

.weather-forecast {
  text-align: center;
}

.img-forecast {
  width: 55px;
  margin: 5px;
}
