.search-box-city {
  border-color: #42a5f5;
  display: inline-block;
}

.search-button {
  background-color: #eaf7fd;
  border-radius: 5px;
  border-color: #42a5f5;
  color: #59657a;
  display: inline-block;
  padding: 6px;
  width: 140px;
  font-size: 15px;
}

#current-location-button {
  background-color: #207cca;
  border-radius: 5px;
  border-color: #2a6da3;
  color: #fff;
  display: inline-block;
  padding: 6px;
  width: 140px;
  font-size: 15px;
}

.card-today {
  border-color: #9ad7f6;
  background-color: #eaf7fd;
  margin: 5px;
}

.col-today {
  text-align: left;
  font-size: 30px;
}

.img-today {
  width: 100px;
  margin-left: 60px;
  margin-top: 30px;
  display: block;
}

.today-temperature {
  font-size: 50px;
  font-weight: 600;
}

.temperature-units {
  font-size: 50px;
}

.temperature-units a {
  text-decoration: none;
  color: #207cca;
}

.temperature-units a:hover {
  text-decoration: underline;
  color: #1961a0;
}

.temperature-units .active {
  text-decoration: none;
  color: #59657a;
  cursor: default;
}

.temperature-units .active:hover {
  text-decoration: none;
  color: #59657a;
}

.today-weather-detail {
  list-style-type: none;
  font-size: 15px;
}

#weather-description:first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  text-align: center;
}

.img-forecast {
  width: 55px;
  margin: 5px;
}
